* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', Arial,sans-serif;
}
body {
  background-image: #fff;
  color: rgb(255, 255, 255) ;
  min-height: 96vh;
}
.App {
  display: flex;
  flex-direction: column;
  width: 960px;
  min-height: 900px;
  background: rgb(207,237,214);
  background: -moz-linear-gradient(144deg, rgba(207,237,214,1) 30%, rgba(215,233,208,1) 74%, rgba(231,226,196,1) 98%);
  background: -webkit-linear-gradient(144deg, rgba(207,237,214,1) 30%, rgba(215,233,208,1) 74%, rgba(231,226,196,1) 98%);
  background: linear-gradient(144deg, rgba(207,237,214,1) 30%, rgba(215,233,208,1) 74%, rgba(231,226,196,1) 98%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cfedd6",endColorstr="#e7e2c4",GradientType=1);
  margin: 15px auto;
  border-radius: 10px;
  padding-bottom: 60px;
}
header {
  padding-top: 5vh;
  color: #3B474E;
  border-bottom:2px solid #fff;
  font-size: 1.2rem;
}

header,
form {
  margin-left: 5vh;
  min-height: 15vh;
  display: flex;
  align-items:center;
}

form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
}
form button {
  outline: none;
  color: white;
  background: transparent;
  background: #f7fffe;
  cursor:pointer;
  transition: all 0.3s ease;
  background: linear-gradient(
    90deg,
    rgb(6, 130, 168) 3%,
    rgb(14, 219, 209) 86%
  );
}
form button:hover {
  background:rgb(2, 180, 156) 100%;
}
.todo-container {
  margin-left: 5vh;
  display: flex;
  justify-content:right;
  align-items:center;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  margin: 0.2rem;
  background: white;
  font-size: 1rem;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items:center;
  transition: all 1s ease;
}
.filter-todo {
  padding: 1rem;
}
.todo li {
  flex: 1;
}

.trash-btn,
.complete-btn {
  background: #007a79;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}
.complete-btn {
  background: rgb(11, 212, 162);
}
.todo-item {
  padding: 0rem 1rem;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.fall {
  transform: translateY(10rem) rotateZ(20deg);
  opacity: 0;
}

.completed {
  text-decoration:line-through;
  opacity: 0.2;
}


select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
}

/* Custom Select */
.select {
  margin: 1rem;
  position:relative;
  overflow:hidden;
}
select {
  color: #8e867b;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  width: 12rem;
  height: 3.31rem;
}
/* Arrow */
.select::after {
  content: "\25BC";
  position:absolute;
  top: 0;
  right: 0;
  padding: 1.16rem;
  background: linear-gradient(
    90deg,
    rgb(6, 130, 168) 3%,
    rgb(14, 219, 209) 86%
  );
  cursor: pointer;
  pointer-events: none;
}

/*Responsice*/

/*992px -1200px */ 
@media screen and (max-width: 1200px) {
	.App {
		width: 960px;
	}
}
/*768px -992px */ 
@media screen and (max-width: 992px) {
	 .App {
		width: 720px;
	}
}
/*576px -768px */ 
@media screen and (max-width: 768px) {
	 .App {
		width: 540px;
	}
  form input, form button {
    font-size: 1.5rem;
  }
}
/*0 -576px */ 
@media screen and (max-width: 576px) {
  .App {
		width: 90%;
	}
  form input, form button {
    font-size: 1rem;
  }
}


